<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>IPV Home</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/am_icon.png}">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
</head>
<body>
	<div th:insert="${isSignin} ? ~{fragments :: headerSignout} : ~{fragments :: headerSignin}"></div>
	<nav class="navbar navbar-expand-md bg-success navbar-dark">
		<a class="navbar-brand" th:href="@{/}"> <img th:src="@{/images/am_icon.png}" alt="logo"/></a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    		 <span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/services}" th:text= "#{services}"></a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/products}" th:text= #{products}></a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/tutorial}" th:text= "#{tutorial}"></a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/blogs}" th:text= "#{blogs}"></a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/download}" th:text= "#{download}"></a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/contact}" th:text= "#{contact}"></a></li>
				
			</ul>
		</div>
	</nav>
	<h1>Welcome...</h1>
	<img th:src="@{/images/usa_flag.svg}" alt="usa flag"/>
</body>
</html>