<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>IPV - Log in</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
	<div th:replace="~{fragments :: headerSignin}"></div>
	<div class="container">
		<form th:action="@{/login}" method="POST" class="form-signin">
			<img th:src="@{/images/login.png}" class="mx-auto d-block" width="100" height="100" alt="signin"/><br/>
			<h3 class="form-signin-heading" th:text="#{signinWelcome}"></h3><br/>
			 <div class="form-group">
				<input type="email" id="email" name="email" th:placeholder="#{email}" class="form-control"/>  
			</div>
			 <div class="form-group">
				<input type="password" th:placeholder="#{password}" id="password" name="password" class="form-control"/>
			</div>	
			<div align="center" th:if="${param.error}"><p style="font-size: 16; color: #FF1C19;" th:text=#{signinValidate}></p></div>
			<button class="btn btn-success btn-block" name="Submit"  type="Submit" th:text="#{signin}"></button>
			<hr class="divider-alternate-1"/>
			<div class="row">
			<div class="col"><a class="nav-link" th:href="@{/InputEmailResetPassword}" th:text= "#{signin.forgotPassword}"></a></div>
			<div class="col"><a class="nav-link" th:href="@{/registration}" th:text= "#{signin.notHaveAccount}"></a></div>
			</div>
		</form>
	</div>
</body>
</html>