<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration Form</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/am_icon.png}">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="~{fragments :: headerSignin}"></div>
	<p></p><p></p>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" th:action="@{/registration}"
					th:object="${user}" method="post" class="form-vertical" role="form">
					<div class="col-sm-9"><h3 align = "center" th:text = "#{registration.title}"></h3></div>
					
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{firstName}" th:placeholder= "#{registration.firstName}" class="form-control" />
							<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{lastName}" th:placeholder= "#{registration.lastName}" class="form-control" />
							<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{email}" th:placeholder= "#{registration.email}" class="form-control" />
							<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}" th:placeholder= "#{registration.password}" class="form-control" /> 
							<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block" th:text = "#{registration.create}"></button>
						</div>
					</div>
					<div class="col-sm-9">
						<h3><span class="text-success" th:utext="${successMessage}"></span></h3>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>