<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>IPV - Log in</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
	<div th:replace="~{fragments :: headerSignin}"></div>
	<div class="container">
		<form th:action="@{/ResetPassword}" method="POST">
			<img th:src="@{/images/login.png}" class="mx-auto d-block" width="100" height="100" alt="signin"/><br/>
			<h3 class = "form-header" th:text="#{resetPassword.newPassword.title}"></h3><br/>
			 <div class="form-group">
			 	<label for = "email" th:text = "#{resetPassword.email}"></label>
				<input type="email" id="email" name="email" class="form-control" th:value = "${email}" disabled/> 				
			</div>
			<div class="form-group">
			 	<label for = "password" th:text = "#{resetPassword.newPassword}"></label>
				<input type="password" id="password" name="password" class="form-control" /> 
				<div><span class="validation-message" th:text="${PasswordError}"></span></div>  
			</div>				
			<button class="btn btn-success btn-block" name="Submit"  type="Submit" th:text="#{resetPassword.save}"></button><br/>
			<h3><span class="text-success" th:utext="${SuccessMessage}"></span></h3>			
		</form>
	</div>
</body>
</html>